body { 
background-color: #DDE; 
}

h1 { 
text-align: center; 
}

table {
	border: solid 2px black;
	padding: 10px; 
	margin-left: auto; 
	margin-right: auto; }

td { 
border: solid 1px black;
 padding: 5px; 
 background-color: white; 
 }

th {
	 background-color: #CCCCCC; 
	 padding: 6px; 
	 border: solid 2px black;
	 }